@import "tailwindcss";


:root {
  --background:#050505;
  --color-primary:#36a689;
  --color-secondary:#0d2a23;
  --font-tektur: var(--font-tektur);
  --font-roboto: var(--font-roboto-mono);
  --font-orbitron: var(--font-orbitron);
  --color-negative: #DF2E30;
  --color-tertiary: #B98C13;
}

/* Fonts */
.font-orbitron {
  font-family: var(--font-orbitron);
}
.font-tektur {
  font-family: var(--font-tektur);
}
.font-roboto {
  font-family: var(--font-roboto-mono)
}

body {
  background:
    radial-gradient(
      circle at 80% 80%,
      rgba(54, 166, 137, 0.15) 0%,
      rgba(10, 15, 20, 0.8) 40%,
      rgba(24, 10, 8, 0.95) 100%
    ),
    linear-gradient(180deg, #0a1512 0%, #030605 100%);
  background-color: #06100d;
  color: var(--color-primary);
  font-family: var(--font-roboto), system-ui, sans-serif;
  overflow: hidden;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-tektur), system-ui, sans-serif;
  font-weight: 700;
}

.global-border {
  border: 2px solid var(--color-primary);
  @apply rounded-lg
}
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

