.primary-button {
  background-color: var(--background);
  color: var(--color-primary);
}

.primary-button:hover {
  background-color: var(--color-primary);
  color: var(--background);
}

.secondary-button {
  background-color: var(--background);
  color: var(--color-tertiary);
}

.secondary-button:hover {
  background-color: var(--color-tertiary);
  color: var(--background);
}

.negative-button {
  background-color: var(--background);
  color: var(--color-negative);
}

.negative-button:hover {
  background-color: var(--color-negative);
  color: var(--background);
}
